@font-face {
  src: url(../font/Roboto-Italic.ttf);
  font-family: roboto-italic;
}

@font-face {
  src: url(../font/Roboto-Light.ttf);
  font-family: roboto-iight;
}

@font-face {
  src: url(../font/Roboto-Regular.ttf);
  font-family: roboto-regular;
}
