@import "font";

body {
  max-width: 100%;
  font-family: roboto-regular;
  overflow-x: hidden;
}

.banner-button {
  padding-top: 30px;
  margin-right: 180px;
}

.about-us {
  text-transform: uppercase;
  color: #39474e;
  padding: 10px 20px 0 0;
  font: {
    family: roboto-regular;
  }
  float: left;
}

.btn-sign-in {
  border: 2px solid #8bc34a;
  border-radius: 100px;
  text-transform: uppercase;
  text-align: center;
  color: #8bc34a;
  padding-top: 8px;
  min-width: 100px;
  height: 40px;
  font: {
    family: roboto-regular;
  }
}

.header-ld-page {
  background: {
    image: url(../image/banner.png);
    repeat: no-repeat;
    position: center;
    size: cover;
  }
  max-width: 100%;
  height: 660px;
}

.banner-logo {
  padding-top: 90px;
}

.banner-icon {
  font-size: 36px;
  padding: 10px 20% 0 20%;

  i {
    padding: 25px;
  }
}

.banner-slogan {
  font-size: 16px;
  padding-top: 10px;
}

.banner-start-now {
  padding-top: 30px;
  .start-now {
    padding: 10px 30px;
    width: 160px;
    height: 40px;
    background: linear-gradient(to right, #429321, #b4ec51);
    color: #ffffff;
    font-size: 13px;
    box-shadow: 0 2px 4px 0 #d8d8d8;
    text-transform: uppercase;
    border-radius: 100px;
    letter-spacing: 1.33pt;
    border: #000000;
  }
}

.paragraph-til {
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  min-height: 371px;
}

.paragraph-start-now {
  .start-now {
    padding: 10px 30px;
    width: 160px;
    height: 40px;
    background: linear-gradient(to right, #429321, #b4ec51);
    color: #ffffff;
    font-size: 13px;
    box-shadow: 0 2px 4px 0 #d8d8d8;
    text-transform: uppercase;
    border-radius: 100px;
    letter-spacing: 1.33pt;
    border: #000000;
  }
}

.paragraph-doc {
  img {
    width: 100%;
  }
  font: {
    size: 12px;
    style: roboto-regular;
    weight: 400;
  }
  text-align: justify;
}

.paragraph-icon {
  i {
    font-size: 26px;
    padding-top: 10px;
  }

  p {
    font-size: 30px;
    padding-left: 14px;
  }
}

.paragraph-img {
  img {
    width: 100%;
  }
}

.paragraph-dl {
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  min-height: 415px;
}

.paragraph-dl-img {
  img {
    width: 100%;
    height: 354px;
  }
  align-self: start;
}

.paragraph-dl-doc {
  img {
    width: 100%;
  }
  font: {
    size: 12px;
    style: roboto-regular;
    weight: 400;
  }
  text-align: justify;
}

.paragraph-dl-icon {
  i {
    font-size: 26px;
    padding-top: 10px;
  }

  p {
    font-size: 30px;
    padding-left: 14px;
  }
}

.paragraph-dl-start-now {
  .start-now {
    padding: 10px 30px;
    width: 160px;
    height: 40px;
    background: linear-gradient(to right, #429321, #b4ec51);
    color: #ffffff;
    font-size: 13px;
    box-shadow: 0 2px 4px 0 #d8d8d8;
    text-transform: uppercase;
    border-radius: 100px;
    letter-spacing: 1.33pt;
    border: #000000;
  }
}

.body-oval-main {
  background: linear-gradient(to right, #429321, #b4ec51);
}

.body-list-oval {
  padding: 30px 20% 0 20%;
  height: 240px;
}

.body-oval {
  width: 90px;
  height: 160px;

  .oval-inform {
    flex-direction: column;

    .oval-icon {
      border: 2px solid #ffffff;
      padding-top: 16px;
      border-radius: 100%;
      height: 80px;
      width: 80px;
      color: #ffffff;
      font-size: 36px;
    }

    .oval-small {
      background-color: #7cb342;
      border: 2px solid #ffffff;
      border-radius: 100%;
      width: 36px;
      height: 36px;
      color: #ffffff;
      font-size: 20px;
      margin: -20px 0 0 22px;
    }

    .ti {
      font-size: 30px;
    }
  }

  .name-oval {
    padding-top: 20px;
    line-height: 5px;
    text: {
      transform: uppercase;
      align: center;
    }
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 14px;
  }
}

.members-list-doc {
  width: 100%;
}

.members-doc p {
  align-items: flex-start;
  font: {
    weight: 400;
    size: 12px;
  }
  line-height: 16px;
  text-align: justify;
  color: #283238;
  padding-left: 3%;
}

.members-doc i {
  color: #8bc34a;
  padding-top: 5px;
  font-size: 15px;
}

.body-our-customers {
  background: {
    image: url(../image/rectangle3.png);
    size: cover;
  }
  min-height: 400px;
  width: 100%;
  padding: 0 20% 0 20%;
  border: 1px solid #c7c4c4;
}

.our-customers {
  padding-top: 20px;
  font: {
    style: roboto-light;
    size: 36px;
  }
  color: #ffffff;
}

.avatar-img {
  padding-top: 20px;
  .avatar {
    img {
      width: 60px;
      height: 60px;
    }

    .duongnt {
      color: #ffffff;
      font-size: 11px;
      padding-top: 20px;
      text-align: center;
      line-height: 1px;
      small {
        color: #c0c0c0;
      }
    }
  }
}

.our-customers-oval {
  padding-top: 20px;
  .our-cus-oval {
    background-color: #ffffff;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    border: 2px solid #9b9b9b;
  }

  .oval-mini {
    border-radius: 100%;
    width: 8px;
    height: 8px;
    border: 2px solid #9b9b9b;
    margin-left: 23px;
  }
}

.body-our-customers-doc {
  min-width: 600px;
  padding-top: 10px;
  margin-bottom: 20px;

  i {
    text-align: justify;
    color: #5b5b5c;
    font-size: 48px;
  }

  .our-customers-doc {
    font: {
      weight: 300;
      size: 10pt;
    }
    line-height: 30px;
    padding-top: 30px;
    color: #d0d8dc;
    width: 567px;
  }

  .ti-quote-right {
    padding-top: 88px;
  }
}

.footer-mask {
  height: 160px;
  background-color: #39474e;
  border: 1px solid #c7c4c4;
  color: #d0d8dc;
  padding: 20px 20% 20px 20%;
  font-size: 8pt;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.contact-hapo {
  grid-column: 1;
  grid-row: 3;
  align-self: start;
}

.hapo-img {
  font-size: 10px;

  img {
    width: 80px;
    height: 20px;
  }
}

.get-in-touch {
  color: #8bc34a;
  grid-column: 2;
}

.contact-us {
  grid-column: 2;
  align-self: end;
}

.contact-sales {
  grid-column: 2;
  align-self: start;
}

.learn-more {
  color: #8bc34a;
  grid-column: 3;
  grid-row: 1;
}

.about-lm {
  grid-column: 3;
  grid-row: 2;
  align-self: end;
}

.about-hapo-lm {
  grid-column: 3;
  align-self: start;
}

.how-to-works {
  color: #8bc34a;
  grid-column: 4;
  grid-row: 1;
}

.contact-htw {
  grid-column: 4;
  grid-row: 2;
  align-self: end;
}

.about-htw {
  grid-column: 4;
  align-self: start;
}

.legal {
  color: #8bc34a;
  grid-column: 5;
  grid-row: 1;
}

.tos-legal {
  grid-column: 5;
  grid-row: 2;
  align-self: end;
}

.pp-legal {
  grid-column: 5;
  align-self: start;
}

.mask-icon {
  min-width: 120px;
  color: #8bc34a;
  padding-top: 10px;
  display: flex;

  i {
    float: left;
  }
}

@import "responsive";
